.card {
    margin-bottom: 2rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgb(197, 194, 194);
    overflow: hidden;
}
.card-title {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
}
svg {
    height: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
svg > path {
    fill: rgb(207, 15, 15);
}
.like-box {
    display: flex;
    align-items: center;
}