<div class="container grid-lg">
    <h1 class="title">Bienvenue sur I ♥ my kid</h1>
    <div class="columns">
        <div class="column col-3">
            <h3>Creer un post</h3>
            <form action="">
                <div class="form-group">
                    <input class="form-input" type="text" id="input-example-1" placeholder="Titre">
                </div>
                <div class="form-group">
                    <input class="form-input" id="input-example-16" type="file" style="width: 100%;">
                </div>
                <div class="form-group">
                    <textarea class="form-input" id="input-example-3" placeholder="Votre message" rows="3"></textarea>
                </div>
                <div class="btn btn-primary container">Valider</div>
            </form>
        </div>
        <div class="column col-9">
            <div class="columns">
                <ng-container *ngFor="let article of articles">
                    <div class="column col-4">
                        <app-card [article]="article"></app-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
