<div class="navbar bg-primary">
    <div class="container grid-lg">
        <div class="navbar-section">
            <a class="navbar-brand text-bold mr-2" href="#navbar">I ♥ my Kids</a>
            <a href="#" class="btn btn-link">Connexion</a>
        </div>
    </div>
    <div class="container grid-lg">
        
    </div>
</div>