header {
    margin-bottom: 2rem;
}
a {
    color: white !important;
}
.navbar {
    height: 2rem;
    margin-bottom: 2rem;
}
.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}