<div class="column col-9 col-sm-12">
    <form class="form-horizontal" action="#forms">
      <div class="form-group">
        <div class="col-3">
          <label class="form-label" for="input-example-8">Email</label>
        </div>
        <div class="col-9">
          <input class="form-input" id="input-example-8" type="email" placeholder="Email" value="spectre@example.com" pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3">
          <label class="form-label" for="input-example-9">URL</label>
        </div>
        <div class="col-9">
          <input class="form-input" id="input-example-9" type="url" placeholder="URL" value="https://github.com/picturepan2/spectre">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3">
          <label class="form-label" for="input-example-10">Search</label>
        </div>
        <div class="col-9">
          <input class="form-input" id="input-example-10" type="search" placeholder="Search">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3">
          <label class="form-label" for="input-example-11">Tel</label>
        </div>
        <div class="col-9">
          <input class="form-input" id="input-example-11" type="tel" placeholder="Tel" value="1-(888)-888-8888">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3">
          <label class="form-label" for="input-example-12">Password</label>
        </div>
        <div class="col-9">
          <input class="form-input" id="input-example-12" type="password" placeholder="Password" value="123456789">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3">
          <label class="form-label" for="input-example-13">Number</label>
        </div>
        <div class="col-9">
          <input class="form-input" id="input-example-13" type="number" placeholder="00" value="66">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3">
          <label class="form-label" for="input-example-14">Date</label>
        </div>
        <div class="col-9">
          <input class="form-input" id="input-example-14" type="date" value="2016-12-31">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3">
          <label class="form-label" for="input-example-15">Color</label>
        </div>
        <div class="col-9">
          <input class="form-input" id="input-example-15" type="color" value="#5755d9">
        </div>
      </div>
      <div class="form-group">
        <div class="col-3">
          <label class="form-label" for="input-example-16">File</label>
        </div>
        <div class="col-9">
          <input class="form-input" id="input-example-16" type="file">
        </div>
      </div>
    </form>
  </div>